#EXTM3U url-tvg="http://www.xmltvepg.nl/rytecPT.xz"

# --- SPORT TV PT ---

#EXTINF:-1 group-title="Sports" tvg-id="SportTV1.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/sport-tv-1.png?raw=true",Sport TV 1
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://sporttv.pt/
[Sport TV 1 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="SportTV2.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/sport-tv-2.png?raw=true",Sport TV 2
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://sporttv.pt/
[Sport TV 2 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="SportTV3.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/sport-tv-3.png?raw=true",Sport TV 3
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://sporttv.pt/
[Sport TV 3 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="SportTV4.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/sport-tv-4.png?raw=true",Sport TV 4
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://sporttv.pt/
[Sport TV 4 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="SportTV5.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/sport-tv-5.png?raw=true",Sport TV 5
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://sporttv.pt/
[Sport TV 5 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="SportTV6.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/sport-tv-6.png?raw=true",Sport TV 6
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://sporttv.pt/
[Sport TV 6 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="SportTV7.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/sport-tv-7.png?raw=true",Sport TV 7
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://sporttv.pt/
[Sport TV 7 - m3u8 url]

# --- DAZN PT ---

#EXTINF:-1 group-title="Sports" tvg-id="elevensports1.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/dazn-1.png?raw=true",DAZN 1
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://dazn.com/
[DAZN 1 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="elevensports2.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/dazn-2.png?raw=true",DAZN 2
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://dazn.com/
[DAZN 2 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="elevensports3.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/dazn-3.png?raw=true",DAZN 3
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://dazn.com/
[DAZN 3 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="elevensports4.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/dazn-4.png?raw=true",DAZN 4
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://dazn.com/
[DAZN 4 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="elevensports5.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/dazn-5.png?raw=true",DAZN 5
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://dazn.com/
[DAZN 5 - m3u8 url]

#EXTINF:-1 group-title="Sports" tvg-id="elevensports6.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/dazn-6.png?raw=true",DAZN 6
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://dazn.com/
[DAZN 6 - m3u8 url]

# --- BTV ---

#EXTINF:-1 group-title="Sports" tvg-id="BTVMulticamaras.pt" tvg-logo="https://github.com/TomasTNunes/open-web-links/blob/main/benfica-tv.png?raw=true",BTV
#EXTVLCOPT:http-user-agent=Firefox
#EXTVLCOPT:http-referrer=https://benfica.tv/
[BTV - m3u8 url]
